.item {
    padding: 50px;

    .header {
        margin-bottom: 25px;
        
        .name {
            font-weight: bold;
            font-size: 40px;
            text-transform: uppercase;
        }

        .code {
            font-size: 12px;
        }
    }

    .content {
        display: flex;
        justify-content: space-around;

        .img {
            display: flex;
            justify-content: center;
            min-height: 400px;
            max-height: 480px;
            min-width: 400px;
            max-width: 420px;


            img {
                min-height: 250px;
                min-width: 250px;
                padding: 10px;
            }
        }

        .description {
            min-width: 300px;
            max-width: 400px;

            div {
                padding: 10px;

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: #cccccc;
                    opacity: 0.5;
                }

                .price {
                    font-size: 24px;
                }
            }
            
            div span {
                font-weight: bold;
                font-size: 20px;
                min-width: 200px;
            }

            .btn-add {
                text-transform: uppercase;
                font-weight: bold;
                border: none;
                width: 200px;
                height: 50px;
                background-color: #aa9b77;
                color: #fff;
                cursor: pointer;
                margin: 20px;
            }
        }
    }
}