header {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #fff;

    .logo {
        margin: 5px 0px;
    }

    nav {

        ul {
            display: flex;

            li {
                list-style: none;
                margin: 0 15px;

                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

.hero {
    background-image: url('../assets/bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        max-width: 800px;
        font-size: 60px;
    }

    p {
        max-width: 586px;
        font-size: 20px;
        line-height: 1.6;
    }

    .scroll {
        position: absolute;
        bottom: 50px;
    }
}

.filter {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    background-color: #8f8f8f;      //#f5f6f7
    padding: 46px 95px;
    max-height: 142px;

    div {
        display: flex;
        margin: 15px 0;
        // input{
        //     border: 1px solid #aa9b77;
        // }

        p {
            margin: 0 40px 0 10px;
        }
    }

    button {
        text-transform: uppercase;
        border: none;
        width: 200px;
        height: 50px;
        background-color: #aa9b77;
        color: #fff;
    }
}

.catalog {

    .header {
        padding: 30px 0;
        margin: 0 100px;
        display: flex;
        align-items: center;

        p {
            font-size: 18px;
            padding-right: 50px;
            text-transform: uppercase;
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #cccccc;
        }
    }

    .items-count {
        text-align: right;
        margin-right: 100px;
        color: #a99b77;
        font-weight: bold;
        font-size: 16px;
    }

    .items-btn {
        text-align: right;
        margin-bottom: 17px;
        margin-right: 100px;

        .btn-left {
            cursor: pointer;
            border: solid #a99b77;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            margin-right: 5px;
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }

        .btn-right {
            cursor: pointer;
            border: solid #a99b77;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
    }

    .items {
        display: flex;
        margin: 0 100px;

        drag-scroll{
            :first-child {
                margin-left: 0;
            }

            :last-child {
                margin-right: 0;
            }
        }

        .item {
            width: 306px;
            height: 100%;
            max-height: 375px;
            text-transform: uppercase;
            border: 7px solid transparent;
            background-color: #f5f6f7;
            border-radius: 3px;
            font-weight: 600;
            margin: 0 65px;

            .top, .bottom {
                display: flex;
                justify-content: space-between;
                padding: 25px 18px;
            }

            .img {
                padding: 0px 70px;
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                padding: 25px 18px;

                .name {
                    color: #aa9b77;
                }
            }

            &:hover {
                border: 7px solid #a99b77;
            }
        }
    }


    //women

    .header__w {
        padding: 30px 0;
        margin: 0 100px;
        display: flex;
        align-items: center;

        p {
            font-size: 18px;
            text-transform: uppercase;
        }

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #cccccc;
        }
    }

    .items-count__w {
        text-align: left;
        margin-left: 100px;
        color: #a99b77;
        font-size: 16px;
        font-weight: bold;
    }

    .items-btn__w {
        text-align: left;
        margin-bottom: 17px;
        margin-left: 100px;

        .btn-left {
            cursor: pointer;
            border: solid #a99b77;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            margin-right: 5px;
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }

        .btn-right {
            cursor: pointer;
            border: solid #a99b77;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
    }
}

.about{
    background-color: #aa9b77;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    h3 {
        text-transform: uppercase;
        color: #837659;
        background-color: #aa9b77;
        position: relative;
        top: 28px;
        padding: 0 13px;
        margin: 0;
    }

    p {
        padding: 90px 120px;
        border: 2px solid #837659;
        max-width: 710px;
    }
}