header {
    display: flex;
    justify-content: space-between;
    margin: 50px 64px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #fff;

    .logo {
        margin: 5px 0px;
    }

    nav {

        ul {
            display: flex;

            li {
                list-style: none;
                margin: 0 15px;

                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

.hero {
    background-image: url('../assets/bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        max-width: 800px;
        font-size: 60px;
    }

    p {
        max-width: 586px;
        font-size: 20px;
        line-height: 1.6;
    }

    .scroll {
        position: absolute;
        bottom: 50px;
    }
}

.filter {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    background-color: #f5f6f7;
    padding: 46px 95px;
    max-height: 142px;

    div {
        display: flex;
        margin: 15px 0;
        // input{
        //     border: 1px solid #aa9b77;
        // }

        p {
            margin: 0 40px 0 10px;
        }
    }

    button {
        text-transform: uppercase;
        border: none;
        width: 200px;
        height: 50px;
        background-color: #aa9b77;
        color: #fff;
        cursor: pointer;
    }
}

.catalog {
    padding-bottom: 130px;
    padding-top: 50px;
}

.about{
    background-color: #aa9b77;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    h3 {
        text-transform: uppercase;
        color: #837659;
        background-color: #aa9b77;
        position: relative;
        top: 28px;
        padding: 0 13px;
        margin: 0;
        font-size: 20px;
    }

    p {
        color: #424242;
        padding: 90px 120px;
        border: 2px solid #837659;
        max-width: 710px;
        font-size: 16px;
        font-weight: bold;
    }
}

.footer {
    color: #fff;
    text-transform: uppercase;

    .twitter-text {
        height: 70px;
        background-color: #535253;
        display: flex;
        align-items: center;
        padding-left: 65px;

        p {
            text-transform: none;
            font-weight: bold;
        }
    }

    .info {
        height: 350px;
        background-color: #424242;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 65px;

        .text {
            max-width: 317px;

            h5 {
                font-size: 20px;
                font-weight: bold;
            }

            p {
                font-size: 10px;
            }
        }

        .contacts {

            .nav {

                :first-child {
                    margin-left: 0;
                }

                :last-child {
                    margin-right: 0;
                }
                
                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 14px;
                    margin: 0 5px;
                }
            }
    
            p {
                text-transform: none;
                font-weight: bold;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }


}