header {
    display: flex;
    justify-content: space-between;
    padding: 50px 64px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #fff;
    background: rgba(41, 80, 131, 0.3);

    .logo {
        margin: 5px 0px;
    }

    nav {

        ul {
            display: flex;

            li {
                list-style: none;
                margin: 0 15px;

                a {
                    text-decoration: none;
                    color: #fff;
                }

                .quantity {
                    position: absolute;
                    top: 58px;
                    right: 70px;
                    background-color: #aa9b77;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 11px;
                    font-weight: bold;
                    color: #000;
                }
            }
        }
    }
}

footer {
    color: #fff;
    text-transform: uppercase;

    .twitter-text {
        height: 70px;
        background-color: #535253;
        display: flex;
        align-items: center;
        padding-left: 65px;

        p {
            text-transform: none;
            font-weight: bold;
        }
    }

    .info {
        height: 350px;
        background-color: #424242;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 65px;

        .text {
            max-width: 317px;

            h5 {
                font-size: 20px;
                font-weight: bold;
            }

            p {
                font-size: 10px;
            }
        }

        .contacts {

            .nav {

                :first-child {
                    margin-left: 0;
                }

                :last-child {
                    margin-right: 0;
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 14px;
                    margin: 0 5px;
                }
            }

            p {
                text-transform: none;
                font-weight: bold;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}