<div>

  <header>
    <div class="logo">
      <img src="../assets/logo.png" alt="logo">
    </div>

    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#"><img src="../assets/cart.png" alt=""></a></li>
      </ul>
    </nav>
  </header>

  <div class="hero">
    <h1>Our clothing , your comfort</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="scroll">
      <a href="#filter"><img src="../assets/chevron.png" alt="chevron"></a>
    </div>
  </div>

  <div id="filter" class="filter">
    <div>
      <label>
        <input type="checkbox" class="custom-checkbox" checked ng-model="valMen" ng-true-value="true" ng-false-value="false">
      </label>
      <p>men</p>

      <label>
        <input type="checkbox" class="custom-checkbox" checked>
      </label>
      <p>women</p>

      <label>
        <input type="checkbox" class="custom-checkbox" checked>
      </label>
      <p>children</p>
    </div>

      <button>see all products</button>
  </div>

  <div class="catalog">
    <app-slider header="men" [slides]="menSlides" ng-show="valMen"></app-slider>

    <app-slider header="women" [slides]="womenSlides"></app-slider>

    <app-slider header="children" [slides]="childrenSlides"></app-slider>
  </div>

  <div class="about">
    <h3>About us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
  </div>

  <div class="footer">
    <div class="twitter-text">
      <div class="img"><img src="../assets/logo-twitter.png" alt="logo-twitter"></div>
      <p>“ E-commerce psd theme available ”</p>
    </div>

    <div class="info">
      <div class="text">
        <h5>trekking</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>

      <div class="contacts">
        <div class="nav">
          <a href="#">credits</a>
          <a href="#">privacy</a>
          <a href="#">about</a>
          <a href="#">contact</a>
        </div>
        <p>Design by gianluca cosetta</p>
      </div>
    </div>
  </div>

</div>